@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-Medium", "weight": "500", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-SemiBold", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-Black", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-Black";
  src: local("Poppins-Black");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-Italic", "weight": "400", "style": "italic", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-Italic";
  src: local("Poppins-Italic");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-SemiBoldItalic", "weight": "600", "style": "italic", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-SemiBoldItalic";
  src: local("Poppins-SemiBoldItalic");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-ExtraBold", "weight": "800", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-ExtraBold";
  src: local("Poppins-ExtraBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Poppins-Light", "weight": "300", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light");
}
