.REVISI-TERBARU {
  background-color: #f3f1ee;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  height: 4168px;
  position: relative;
}

.REVISI-TERBARU .header {
  position: absolute;
  top: 33px;
  left: 0;
  width: 1440px;
  height: 727px;
}

.REVISI-TERBARU .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1459px;
  height: 108px;
}

.REVISI-TERBARU .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1451px;
  height: 108px;
  background-color: #ffffff;
}

.REVISI-TERBARU .text-wrapper {
  position: absolute;
  top: 40px;
  left: 177px;
  width: 136px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .div {
  position: absolute;
  top: 40px;
  left: 41px;
  width: 136px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-2 {
  position: absolute;
  top: 40px;
  left: 374px;
  width: 136px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-3 {
  position: absolute;
  top: 40px;
  left: 571px;
  width: 136px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .rectangle-2 {
  position: absolute;
  top: 4px;
  left: 139px;
  width: 1px;
  height: 100px;
  background-color: #d9d9d9;
}

.REVISI-TERBARU .category-mask {
  position: absolute;
  top: 760px;
  left: 0;
  width: 1440px;
  height: 628px;
}

.REVISI-TERBARU .desain-tanpa-judul {
  position: absolute;
  top: 770px;
  left: 0;
  width: 871px;
  height: 2014px;
  aspect-ratio: 2;
}

.REVISI-TERBARU .line {
  top: 125px;
  left: 1285px;
  width: 132px;
  position: absolute;
  height: 10px;
}

.REVISI-TERBARU .img {
  top: 125px;
  left: 1258px;
  width: 11px;
  position: absolute;
  height: 10px;
}

.REVISI-TERBARU .rectangle-3 {
  position: absolute;
  top: 591px;
  left: 76px;
  width: 186px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 0.5px solid;
  border-color: #6b5c5c;
}

.REVISI-TERBARU .rectangle-4 {
  position: absolute;
  top: 591px;
  left: 293px;
  width: 336px;
  height: 55px;
  background-color: #3f3b2a;
  border-radius: 20px;
  border: 0.5px solid;
  border-color: #6b5c5c;
}

.REVISI-TERBARU .group {
  position: absolute;
  top: 600px;
  left: 16px;
  width: 305px;
  height: 41px;
  display: flex;
}

.REVISI-TERBARU .text-wrapper-4 {
  width: 303px;
  height: 41px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #312b2b;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-5 {
  position: absolute;
  top: 600px;
  left: 309px;
  width: 335px;
  font-family: "Poppins-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .material-icon-theme {
  position: absolute;
  top: 602px;
  left: 314px;
  width: 34px;
  height: 34px;
  aspect-ratio: 1;
}

.REVISI-TERBARU .rectangle-5 {
  position: absolute;
  top: calc(50.00% - 633px);
  left: 204px;
  width: 1393px;
  height: 905px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(254, 214, 21, 1) 0%,
    rgba(255, 237, 148, 1) 100%
  );
}

.REVISI-TERBARU .group-2 {
  position: absolute;
  width: 412px;
  height: 860px;
  top: 1577px;
  left: 248px;
}

.REVISI-TERBARU .group-3 {
  position: absolute;
  top: calc(50.00% - 430px);
  left: 0;
  width: 417px;
  height: 261px;
}

.REVISI-TERBARU .rectangle-6 {
  position: absolute;
  top: calc(50.00% - 130px);
  left: 1px;
  width: 411px;
  height: 261px;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}

.REVISI-TERBARU .p {
  position: absolute;
  top: calc(50.00% - 111px);
  left: 25px;
  width: 277px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #312b2b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .div-2 {
  position: absolute;
  top: calc(50.00% + 75px);
  left: 90px;
  width: 268px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .span {
  font-weight: 600;
  color: #473c3b;
}

.REVISI-TERBARU .text-wrapper-6 {
  font-family: "Poppins-Italic", Helvetica;
  font-style: italic;
  color: #9e9e9e;
}

.REVISI-TERBARU .ellipse {
  position: absolute;
  top: 195px;
  left: 25px;
  width: 47px;
  height: 47px;
  object-fit: cover;
}

.REVISI-TERBARU .ellipse-2 {
  position: absolute;
  top: 229px;
  left: 62px;
  width: 13px;
  height: 13px;
  background-color: #4d4dff;
  border-radius: 6.5px;
}

.REVISI-TERBARU .text-wrapper-7 {
  position: absolute;
  top: 226px;
  left: 65px;
  width: 10px;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .vector {
  top: 230px;
  left: 92px;
  width: 230px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.REVISI-TERBARU .group-4 {
  top: calc(50.00% + 169px);
  left: 0;
  position: absolute;
  width: 417px;
  height: 261px;
}

.REVISI-TERBARU .text-wrapper-8 {
  position: absolute;
  top: calc(50.00% - 111px);
  left: 25px;
  width: 307px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #312b2b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .group-5 {
  top: calc(50.00% - 130px);
  left: 1px;
  position: absolute;
  width: 417px;
  height: 261px;
}

.REVISI-TERBARU .ellipse-3 {
  position: absolute;
  top: 195px;
  left: 25px;
  width: 47px;
  height: 47px;
}

.REVISI-TERBARU .group-6 {
  position: absolute;
  width: 412px;
  height: 860px;
  top: 1577px;
  left: 718px;
}

.REVISI-TERBARU .group-7 {
  position: absolute;
  top: 3546px;
  left: -166px;
  width: 1942px;
  height: 645px;
}

.REVISI-TERBARU .rectangle-7 {
  position: absolute;
  top: 11px;
  left: 166px;
  width: 1440px;
  height: 594px;
}

.REVISI-TERBARU .rectangle-8 {
  position: absolute;
  top: 0;
  left: 166px;
  width: 1440px;
  height: 622px;
}

.REVISI-TERBARU .text-wrapper-9 {
  position: absolute;
  top: 3644px;
  left: 35px;
  width: 338px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REVISI-TERBARU .bantuan-dukungan {
  position: absolute;
  top: 3826px;
  left: 35px;
  width: 259px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .layanan-informasi {
  position: absolute;
  top: 3826px;
  left: 362px;
  width: 251px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .hubungi-kami-pusat {
  position: absolute;
  top: 3884px;
  left: 35px;
  width: 226px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.REVISI-TERBARU .pemesanan-online {
  position: absolute;
  top: 3881px;
  left: 362px;
  width: 231px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.REVISI-TERBARU .text-wrapper-10 {
  position: absolute;
  top: 3826px;
  left: 681px;
  width: 170px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .tentang-lelilu {
  position: absolute;
  top: 3881px;
  left: 681px;
  width: 248px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.REVISI-TERBARU .cara-daftar-akun {
  position: absolute;
  top: 3873px;
  left: 939px;
  width: 285px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.REVISI-TERBARU .text-wrapper-11 {
  position: absolute;
  top: 3826px;
  left: 939px;
  width: 239px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .desain-tanpa-judul-2 {
  position: absolute;
  top: 3585px;
  left: 96px;
  width: 1344px;
  height: 583px;
  aspect-ratio: 2;
}

.REVISI-TERBARU .group-8 {
  position: absolute;
  top: 827px;
  left: 1136px;
  width: 264px;
  height: 39px;
}

.REVISI-TERBARU .see-more {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .vector-2 {
  top: 38px;
  left: 45px;
  width: 148px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.REVISI-TERBARU .rectangle-9 {
  position: absolute;
  width: 10.56%;
  height: 0;
  top: 0;
  left: 83.26%;
  background-color: #ffd951;
  border-radius: 25px;
  box-shadow: 0px 4px 7px #ffe99c80;
}

.REVISI-TERBARU .text-wrapper-12 {
  position: absolute;
  width: 3.69%;
  height: 0;
  top: 0;
  left: 86.70%;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .rectangle-10 {
  position: absolute;
  top: 919px;
  left: 0;
  width: 608px;
  height: 388px;
  object-fit: cover;
}

.REVISI-TERBARU .rectangle-11 {
  position: absolute;
  top: 919px;
  left: 641px;
  width: 391px;
  height: 388px;
}

.REVISI-TERBARU .rectangle-12 {
  position: absolute;
  top: 923px;
  left: 1381px;
  width: 59px;
  height: 388px;
}

.REVISI-TERBARU .rectangle-13 {
  position: absolute;
  top: 919px;
  left: 1074px;
  width: 265px;
  height: 388px;
  object-fit: cover;
}

.REVISI-TERBARU .text-wrapper-13 {
  top: 1229px;
  left: calc(50.00% - 829px);
  width: 404px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52px;
}

.REVISI-TERBARU .text-wrapper-14 {
  top: 1229px;
  left: calc(50.00% - 60px);
  width: 240px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52px;
}

.REVISI-TERBARU .text-wrapper-15 {
  top: 1177px;
  left: calc(50.00% + 380px);
  width: 240px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52px;
}

.REVISI-TERBARU .text-wrapper-16 {
  top: 1177px;
  left: calc(50.00% + 682px);
  width: 240px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52px;
}

.REVISI-TERBARU .text-wrapper-17 {
  position: absolute;
  top: 1487px;
  left: 279px;
  width: 632px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 88px;
  white-space: nowrap;
}

.REVISI-TERBARU .see-more-2 {
  position: absolute;
  top: 1491px;
  left: 1119px;
  width: 268px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .vector-3 {
  top: 1542px;
  left: 1175px;
  width: 148px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.REVISI-TERBARU .group-9 {
  position: absolute;
  top: 2539px;
  left: 22px;
  width: 1388px;
  height: 989px;
}

.REVISI-TERBARU .firefly-gift-of {
  position: absolute;
  top: 152px;
  left: 0;
  width: 805px;
  height: 766px;
  aspect-ratio: 1.05;
  object-fit: cover;
}

.REVISI-TERBARU .rectangle-14 {
  position: absolute;
  top: 702px;
  left: 31px;
  width: 772px;
  height: 264px;
  background-color: #f4f2ee;
  filter: blur(2px);
}

.REVISI-TERBARU .siapa-kami {
  position: absolute;
  top: 0;
  left: 37px;
  width: 474px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 88px;
  white-space: nowrap;
}

.REVISI-TERBARU .text-wrapper-18 {
  font-weight: 900;
  color: #000000;
}

.REVISI-TERBARU .text-wrapper-19 {
  font-family: "Poppins-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #fed615;
}

.REVISI-TERBARU .text-wrapper-20 {
  font-weight: 900;
  color: #fed615;
}

.REVISI-TERBARU .line-2 {
  top: 45px;
  left: 513px;
  width: 703px;
  position: absolute;
  height: 10px;
}

.REVISI-TERBARU .rectangle-15 {
  position: absolute;
  top: 822px;
  left: 37px;
  width: 732px;
  height: 148px;
  background-color: #ffffff;
  border-radius: 20px;
}

.REVISI-TERBARU .group-10 {
  position: absolute;
  top: 840px;
  left: 98px;
  width: 648px;
  height: 84px;
}

.REVISI-TERBARU .text-wrapper-21 {
  position: absolute;
  top: 51px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #414141;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-22 {
  position: absolute;
  top: 0;
  left: 12px;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #e6aa07;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-23 {
  position: absolute;
  top: 0;
  left: 188px;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #e6aa07;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-24 {
  left: 188px;
  position: absolute;
  top: 51px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #414141;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-25 {
  left: 376px;
  position: absolute;
  top: 0;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #e6aa07;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-26 {
  left: 372px;
  position: absolute;
  top: 51px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #414141;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-27 {
  left: 551px;
  position: absolute;
  top: 0;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #e6aa07;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-28 {
  position: absolute;
  top: 56px;
  left: 521px;
  width: 111px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #414141;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.REVISI-TERBARU .group-11 {
  position: absolute;
  top: 135px;
  left: 804px;
  width: 594px;
  height: 854px;
}

.REVISI-TERBARU .rectangle-16 {
  position: absolute;
  top: 384px;
  left: 0;
  width: 582px;
  height: 470px;
  background-color: #fdfdfd;
  border-radius: 20px;
  box-shadow: 0px 4px 10px #0000001a;
}

.REVISI-TERBARU .rectangle-17 {
  position: absolute;
  top: 428px;
  left: 45px;
  width: 52px;
  height: 50px;
  background-color: #fed615;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #fafe1573;
}

.REVISI-TERBARU .rectangle-18 {
  position: absolute;
  top: 522px;
  left: 45px;
  width: 52px;
  height: 51px;
  background-color: #fed615;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #fafe1573;
}

.REVISI-TERBARU .rectangle-19 {
  position: absolute;
  top: 620px;
  left: 46px;
  width: 52px;
  height: 50px;
  background-color: #fed615;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #fafe1573;
}

.REVISI-TERBARU .rectangle-20 {
  position: absolute;
  top: 724px;
  left: 45px;
  width: 52px;
  height: 51px;
  background-color: #fed615;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #fafe1573;
}

.REVISI-TERBARU .profesional-tim {
  position: absolute;
  top: 428px;
  left: 129px;
  width: 445px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #473c3a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-29 {
  font-weight: 600;
}

.REVISI-TERBARU .text-wrapper-30 {
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
}

.REVISI-TERBARU .cepat-proses {
  position: absolute;
  top: 524px;
  left: 127px;
  width: 445px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #473c3a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .berkualitas-standar {
  position: absolute;
  top: 617px;
  left: 129px;
  width: 445px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #473c3a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .terpercaya {
  position: absolute;
  top: 724px;
  left: 129px;
  width: 445px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #473c3a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .text-wrapper-31 {
  position: absolute;
  top: 0;
  left: 17px;
  width: 557px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #473c3a;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 55px;
}

.REVISI-TERBARU .text-wrapper-32 {
  position: absolute;
  top: 122px;
  left: 17px;
  width: 527px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #473c3a;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.REVISI-TERBARU .frame {
  position: absolute;
  top: 441px;
  left: 59px;
  width: 23px;
  height: 24px;
  display: flex;
}

.REVISI-TERBARU .vector-4 {
  flex: 1;
  width: 21.01px;
}

.REVISI-TERBARU .vector-wrapper {
  top: 535px;
  left: 59px;
  height: 25px;
  position: absolute;
  width: 23px;
  display: flex;
}

.REVISI-TERBARU .img-wrapper {
  top: 630px;
  left: 61px;
  height: 24px;
  position: absolute;
  width: 23px;
  display: flex;
}

.REVISI-TERBARU .frame-2 {
  top: 737px;
  left: 59px;
  height: 25px;
  position: absolute;
  width: 23px;
  display: flex;
}
